web/WEB-INF/wsdl/env-3370651.jelastic.servint.net_80/ServicioSUNAT/ServicioSUNAT.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://SUNAT.edu.upc/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://SUNAT.edu.upc/">

<xs:element name="ConsultaPorRUC" type="tns:ConsultaPorRUC"/>

<xs:element name="ConsultaPorRUCResponse" type="tns:ConsultaPorRUCResponse"/>

<xs:complexType name="ConsultaPorRUC">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaPorRUCResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="anexo" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="departamento" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccionPreferencia" type="xs:string" minOccurs="0"/>
<xs:element name="distrito" type="xs:string" minOccurs="0"/>
<xs:element name="estadoCivil" type="xs:string" minOccurs="0"/>
<xs:element name="fechaInicioLaboral" type="xs:string" minOccurs="0"/>
<xs:element name="mensaje" type="xs:string" minOccurs="0"/>
<xs:element name="nroHijos" type="xs:string" minOccurs="0"/>
<xs:element name="profesion" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="xs:string" minOccurs="0"/>
<xs:element name="RAM" type="xs:string" minOccurs="0"/>
<xs:element name="RUC" type="xs:string" minOccurs="0"/>
<xs:element name="referencia" type="xs:string" minOccurs="0"/>
<xs:element name="telefonoOficina" type="xs:string" minOccurs="0"/>
<xs:element name="tipoPreferenciaDireccion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>